html{
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
	background-color: #5179C9;
}

body {
	width: 600px;  /* 网页内容部分的宽度，下面所有元素的默认宽度都是这个 */
	margin: 0 auto; /* 外边距，向外填充，body会随之变小 */
	background-color: #E3A220;
	padding: 0 20px 20px 20px; /* 内边距，向内填充，body的大小不变 */ 
	border: 5px solid black;
}

h1{
	font-size: 60px;
	text-align: center;
	margin: 0;
  	padding: 20px 0;
  	color: #00539F;
  	text-shadow: 3px 3px 1px black;
}

p,li{
	color: white;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

img {
	display: block;
	margin: 0 auto;
}

.text-class {
	width: 360px;
	margin: 10px auto;
	padding: 20px;
	border: 2px dashed white;
}